### Datasource URL : https://www.kaggle.com/datasets/giripujar/hr-analytics?resource=download

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('./dataset/HR_comma_sep.csv')

## Exploratory Analysis

In [42]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [43]:
df.shape

(14999, 10)

In [44]:
tmp_df = df.drop(columns=['Department', 'salary'])
tmp_df.groupby('left').mean()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years
left,,,,,,,
0,0.666810,0.715473,3.786664,199.060203,3.380032,0.175009,0.026251
1,0.440098,0.718113,3.855503,207.419210,3.876505,0.047326,0.005321

In [45]:
df['left'].value_counts()

left
0    11428
1     3571
Name: count, dtype: int64

### Satisfaction Level vs Retention

In [ ]:
plt.figure(figsize=(8, 6))
plt.bar(df['left'], df['satisfaction_level'], color=['blue', 'green'])
plt.xlabel('Left')
plt.ylabel('Average Satisfaction Level')
plt.title('Average Satisfaction Level by Left Status')
plt.xticks([0, 1], ['Stayed', 'Left'])
plt.show()

In [ ]:
plt.show()

In [ ]:
# plt.scatter([df['left'], df['satisfaction_level']])
df[['left', 'satisfaction_level']]

In [ ]:
test1 = df[['left', 'satisfaction_level']]

In [ ]:
sl_avg = df['satisfaction_level'].mean()

In [ ]:
sl_avg

## Impact of salary over retention

In [ ]:
df['salary'].value_counts()

In [ ]:
salary_left_df = df[['salary', 'left']]

In [ ]:
salary_left_df['salary'].value_counts()

In [ ]:
grouped_data = salary_left_df.groupby(['salary', 'left']).size().unstack()
ax = grouped_data.plot(kind='bar', stacked=True, figsize=(10, 6))
plt.legend(title='Left', labels=['Stayed', 'Left'])
plt.show()

In [ ]:
# Filter the Data

low_salary = salary_left_df[(salary_left_df['salary']=='low') & (salary_left_df['left']== 1)].count()
low_salary

In [ ]:
# low_salary[low_salary['left']==1]

## Department vs Employee Retention

In [ ]:
df['Department'].value_counts()

In [ ]:
grouped_data = df.groupby(['Department', 'left']).size().unstack()
ax = grouped_data.plot(kind='bar', stacked=True, figsize=(10, 6))
plt.legend(title='Left', labels=['Stayed', 'Left'])
plt.show()

NameError: name 'tmp' is not defined